


.form-group {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea[type="textarea"] {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
}
.card-body{
    background-color: #ffffff;
    padding: 10px;
}
.modal-button{
    text-align: end;
}

.btn{
    margin-left: 20px;
}
  
.main{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 1px solid;
}

.validation-msg {
    color: red;
    font-size: 13px;
    margin-top: -6px;
}